.diagramLabel {
  position: absolute !important;
  background-color: #eff3f6 !important;
  opacity: .9;
  top: 24px;
  right: 40px;
}

// FIXME on 1160px
.parametersGrid {

  @media (max-width: 1200px) {
    margin-right: 0 !important;
  }
}

.parametersRow {
  padding-bottom: 0;
}

.parametersColumn {
  height: 55px;
  padding-right: 1.8rem;
  vertical-align: top;
}

.parametersDefaultButton {
  width: 100px;
}
