.diagramLabel {
  position: absolute !important;
  background-color: #eff3f6 !important;
  opacity: .9;
  top: 24px;
  right: 40px;
}

.parametersGrid {

  @media (max-width: 1200px) {
    margin-right: 0 !important;
  }

  .row {
    padding-bottom: 0 !important;
  }

  .column {
    height: 55px;
    padding-right: 1.8rem !important;
  }

  .defaultButton {
    width: 100px;
  }
}


