@import 'components/site.variables';

// Define the variable for width
@sidebarWidth: 350px;
@sidebarButton: 32px;
@animationSpeed: 400ms;

.sidebarContainer {

  .sidebarInner {
    display: flex;
    position: relative;

    @media (max-width: @breakpoint-tablet) {
      width: calc(100vw);
      overflow: hidden;
      margin: 0 -1em;
      padding: 0 1em;
    }
  }


  .sidebarContent {
    width: 100%;
    padding-top: 12px;
  }
}

.sidebarAside {
  position: relative;
  width: calc(@sidebarWidth - 20px);
  background: @ref-color-lightGrey;
  transition: width @animationSpeed linear;
  margin-right: 20px;
  visibility: visible;

  aside {
    overflow: hidden;
    width: @sidebarWidth;
    transition: inherit;
    height: 100%;
    margin: 0 0 0 -20px;
    padding-left: 20px;

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 100%;
      background: @ref-color-lightGrey;
      right: 100%;
      bottom: 0;
      position: absolute;
      overflow-y: hidden;
      transition: inherit;
    }
  }

}

.sidebarClosed {

  .sidebarAside {
    width: 0;
    margin-right: 0;
    visibility: hidden;

    aside {
      background: transparent;
      min-width: 0;
      width: 0;

      &:before {
        width: 0;
      }
    }
  }

  .sidebarStickyButton {
    transition: all @animationSpeed linear;
    transform: translateX(-110%) rotateZ(180deg);

    @media (max-width: @breakpoint-tablet) {
      top: 266px;
      transform: translateX(0) rotateZ(180deg);
    }
  }
}

.sidebarStickyButton {
  position: sticky;
  top: 155px;
  transition: all @animationSpeed linear;
  transform: translateX(calc(@sidebarWidth - 35px)) rotateZ(0deg);
  cursor: pointer;

  padding: 5px;
  margin-top: -@sidebarButton;

  z-index: 1;
  color: @blue;
  background: @white;
  border-radius: 50px;
  border: 1px solid @blue;

  width: @sidebarButton;
  height: @sidebarButton;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid transparent;

  &:hover {
    outline: 2px solid @blue;
  }

  @media (max-width: @breakpoint-tablet-horizontal) {
    top: 226px;
  }


  i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}

.wrapper {
  min-width: @sidebarWidth;
  padding-right: 20px;
  height: 100%;
}


