@import 'components/site.variables';

body {
  color: #4c4c4c;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  overflow: hidden;
}

.ui.container {
  position: relative;

  .recharts-wrapper svg {
    overflow: visible;
  }
}

// Plotly Charts
.js-plotly-plot {

  &.plotlyContainer {
    display: flex !important;
    width: 100%;
    flex-grow: 5;
  }

  &.plotlyContainerModal {
    width: 90%;
    height: 90%;
  }

  .modebar-container {

    .modebar {
      display: flex;
      flex-direction: column;
      left: -5px;
      top: 10px !important;
      right: initial !important;
    }

    .modebar-group {
      display: flex !important;
      flex-direction: column;
      padding: 0 !important;
    }
  }
}


// Leaflet Map
.leaflet-control-container .leaflet-top,
.leaflet-control-container .leaflet-bottom {
  transform: translate3d(0px, 0px, 0px);
}

.leaflet-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}
