@import 'components/site.variables';

body {
  color: #4c4c4c;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

}

.gridTwoColumns {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 20px;

  @media (min-width: @breakpoint-mobile-horizontal) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }


  .rowTwoColumns {
    label {
      display: block;
      margin: 0 20px 5px 0;
      padding: 0;
      background: transparent;
      color: @ref-color-blackLight;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0px;
      line-height: 18px;
      text-align: center;
    }
  }
}

.ui.container {
  position: relative;

  .recharts-wrapper svg {
    overflow: visible;
  }
}

// Plotly Charts
.js-plotly-plot {

  &.plotlyContainer {
    display: flex;
    width: 100%;
    flex-grow: 5;
  }

  &.plotlyContainerModal {
    width: 90%;
    height: 90%;
  }

  .modebar-container {

    .modebar {
      display: flex;
      flex-direction: column;
      left: -5px;
      top: 10px;
      right: initial;
    }

    .modebar-group {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }
}

// Leaflet Map
.leaflet-control-container .leaflet-top,
.leaflet-control-container .leaflet-bottom {
  transform: translate3d(0px, 0px, 0px);
}

.leaflet-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

// REACT DATEPICKER STYLES
.react-datepicker__month-container .react-datepicker__day--selected,
.react-datepicker__month-container .react-datepicker__day--in-selecting-range,
.react-datepicker__month-container .react-datepicker__day--in-range,
.react-datepicker__month-container .react-datepicker__month-text--selected,
.react-datepicker__month-container .react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-container .react-datepicker__month-text--in-range,
.react-datepicker__month-container .react-datepicker__quarter-text--selected,
.react-datepicker__month-container .react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__month-container .react-datepicker__quarter-text--in-range,
.react-datepicker__month-container .react-datepicker__year-text--selected,
.react-datepicker__month-container .react-datepicker__year-text--in-selecting-range,
.react-datepicker__month-container .react-datepicker__year-text--in-range {
  background-color: @blue;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-wrapper:focus-visible,
.react-datepicker__input-container:focus-visible {
}

.react-datepicker-wrapper .react-datepicker__input-container input.dateInput {
  cursor: pointer;
  width: 100%;
  padding: 5px;
  margin: 0;
  border: none;
  border-radius: unset;
  text-align: center;
  color: @ref-color-blackLight;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0px;
}

.react-datepicker-wrapper .react-datepicker__input-container input.dateInput:focus-visible {
  outline: 1px solid @blue !important;
}

.dateInputWrapper {
  .divider {
    display: flex;
    align-items: baseline;
  }

  .dateIcon {
    margin: 0 0 0 5px;
  }
}

// REACT SLIDER STYLES (rc-slider)
.rc-slider.rc-slider-horizontal {
  .rc-slider-track {
    background-color: @blue;
  }

  .rc-slider-handle:before {
    content: attr(aria-label);
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
    color: @ref-color-blackLight;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0px;
  }
}
