@import '../site.variables';


.headline {
  border-bottom: 1px solid @ref-color-underline;
  display: flex;
  align-items: center;
  padding-bottom: 5px;

  > button {
    white-space: nowrap;
    min-width: 92px;
  }

  > button:last-child {
    margin-left: auto;
  }
}

.secondary {
  .headline {
    border-bottom: none;

    .title {
      text-transform: none;
      font-size: 14px;
      letter-spacing: 0px;
      text-align: left;

      span {
        font-weight: 700;
      }
    }
  }
}

.title {
  margin: 0;
  padding: 0;
}
