@import '../site.variables';


.headline {
  border-bottom: 1px solid @ref-color-underline;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  padding-right: 22px;

  .faIcon,
  .faButton {
    background: transparent;
    border: none;
    padding: 10px;
    margin: 0;
  }

  .faButton {
    cursor: pointer;
    transition: color 300ms;

    &:hover {
      color: @blue;
    }
  }

  .button {
    white-space: nowrap;
    min-width: 92px;
    margin-left: auto;
  }
}

.secondary {
  .headline {
    border-bottom: none;

    .title {
      text-transform: none;
      font-size: 14px;
      letter-spacing: 0px;
      text-align: left;

      span {
        font-weight: 700;
      }
    }
  }
}

.title {
  margin: 0;
  padding: 0;
}
