.DS_Store
.idea/
.env
**/node_modules/
**/venv/

/infrastructure/local/tls_certificates/
/infrastructure/local/data/
**/openapi.bundle.yml
**/openapi.bundle.json
/src/backend/src/notebooks/bin/
/src/backend/src/notebooks/data/
