/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site        : 'inowas';
@reset       : 'inowas';

/* Elements */
@button      : 'inowas';
@container   : 'inowas';
@divider     : 'inowas';
@flag        : 'inowas';
@header      : 'inowas';
@icon        : 'inowas';
@image       : 'inowas';
@input       : 'inowas';
@label       : 'inowas';
@list        : 'inowas';
@loader      : 'inowas';
@placeholder : 'inowas';
@rail        : 'inowas';
@reveal      : 'inowas';
@segment     : 'inowas';
@step        : 'inowas';

/* Collections */
@breadcrumb  : 'inowas';
@form        : 'inowas';
@grid        : 'inowas';
@menu        : 'inowas';
@message     : 'inowas';
@table       : 'inowas';

/* Modules */
@accordion   : 'inowas';
@checkbox    : 'inowas';
@dimmer      : 'inowas';
@dropdown    : 'inowas';
@embed       : 'inowas';
@modal       : 'inowas';
@nag         : 'inowas';
@popup       : 'inowas';
@progress    : 'inowas';
@rating      : 'inowas';
@search      : 'inowas';
@shape       : 'inowas';
@sidebar     : 'inowas';
@sticky      : 'inowas';
@tab         : 'inowas';
@transition  : 'inowas';

/* Views */
@ad          : 'inowas';
@card        : 'inowas';
@comment     : 'inowas';
@feed        : 'inowas';
@item        : 'inowas';
@statistic   : 'inowas';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : '../../styleguide/themes';

/* Path to site override folder */
@siteFolder  : '../../styleguide/site';


/*******************************
         Import Theme
*******************************/

@import (multiple) "~semantic-ui-less/theme.less";

/*******************************
         Import Font Path
*******************************/

@fontPath : "../../../themes/inowas/assets/fonts";

/* End Config */
