@import 'components/site.variables';

.modelGridItem {
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.154229);
  display: flex;
  flex-direction: column;
  transition: 300ms;
  cursor: pointer;

  @media (min-width: 680px) {
    width: calc((100% / 2) - 20px);
    margin-right: 20px;
  }

  @media (min-width: @breakpoint-tablet-horizontal) {
    width: calc((100% / 3) - 20px);
    margin-right: 20px;
  }

  @media (min-width: @breakpoint-desktop-small) {
    width: calc((100% / 4) - 20px);
  }

  &:hover,
  &:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
  }

  .modelImage {
    min-height: 150px;
    object-fit: cover;
  }

  .modelGridContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 10px 8px;
    color: #333333;

    .modelHeadline {
      text-align: left;
      margin-bottom: 14px;
      padding-left: 18px;
      position: relative;

      .metaStatus {
        display: block;
        position: absolute;
        left: 0;
        top: 6px;
        width: 10px;
        height: 10px;
        flex-basis: 10px;
        border-radius: 50%;
      }

      .modelTitle {
        margin: 0 0 5px 0;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0px;
        line-height: 20px;
        color: #333333;
      }

      .modelDescription {
        font-size: 13.5px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        line-height: 19px;
        color: #666666;
      }
    }

    .modelBtnGroup {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      button {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        background: unset;
        cursor: pointer;
        transition: 300ms;

        &:hover,
        &:focus {
          color: @blue;
        }
      }

      .modelAuthor {
        display: flex;
        align-items: center;

        .modelAvatarLink {
          display: flex;
          align-items: center;
          margin: 0;
          padding: 0;
          border: none;
          box-shadow: none;
          color: rgba(221, 39, 39, 1);
          text-align: left;
          font-size: 11px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: 0px;
          line-height: 16px;
          background: unset;
          transition: 300ms;

          &:hover,
          &:focus {
            color: @blue;
          }

          img {
            width: 14px;
            height: 14px;
            flex-basis: 14px;
            margin: 0 5px 0 0 !important;
          }
        }

        .modelMetaText {
          display: block;
          position: relative;
          color: rgba(51, 51, 51, 1);
          font-size: 11px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: 0px;
          text-align: left;
          line-height: 18px;
          padding-left: 8px;
          padding-right: 10px;
          margin-left: 6px;

          &:before {
            content: '';
            display: block;
            width: 1px;
            height: 80%;
            background-color: rgba(51, 51, 51, 1);
            position: absolute;
            top: 10%;
            left: 0;
          }
        }

      }

      .modelActions {

        button:not(:last-child) {
          margin-right: 8px;
        }


        .modelBtnView {
          background-color: #8494B2;
          border-radius: 0;
          color: @white;
          font-size: 12px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: 0px;
          text-align: left;
          padding: 10px;
          transition: 300ms;

          &:hover,
          &:focus {
            background-color: @blue;
          }

        }
      }

    }
  }
}



