@import '../site.variables';

.modelGridWrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 0;

  .modelGridHeadline {
    display: flex;
    justify-content: space-between;
  }
}

.modelGrid {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  gap: 20px;
}
