variables:
  MORPHEUS_BACKEND_API_IMAGE: inowas/morpheus-backend-api
  MORPHEUS_BACKEND_TASK_QUEUE_WORKER_IMAGE: inowas/morpheus-backend-task-queue-worker
  INOWAS_USER_ID: 1005
  INOWAS_GROUP_ID: 1004



publish-morpheus-backend-api:dev:
  stage: publish
  before_script:
    - docker info
    - echo "$DOCKER_HUB_TOKEN" | docker login -u "$DOCKER_HUB_USER" --password-stdin
  script:
    - DOCKER_BUILDKIT=1 docker build --build-arg="FLASK_USER_ID=$INOWAS_USER_ID" --build-arg="FLASK_GROUP_ID=$INOWAS_GROUP_ID" --target flask_app --tag $MORPHEUS_BACKEND_API_IMAGE:$CI_COMMIT_SHA --tag $MORPHEUS_BACKEND_API_IMAGE:dev --file src/backend/docker/flask.Dockerfile .
    - docker push $MORPHEUS_BACKEND_API_IMAGE:$CI_COMMIT_SHA
    - docker push $MORPHEUS_BACKEND_API_IMAGE:dev
  only:
    changes:
      - src/infrastructure/production/**/*.*
      - src/backend/docker/**/*.*
      - src/backend/src/**/*.*
      - src/backend/pyproject.toml
      - src/backend/uv.lock
    refs:
      - main
      - tags

publish-morpheus-backend-task-queue-worker:dev:
  stage: publish
  before_script:
    - docker info
    - echo "$DOCKER_HUB_TOKEN" | docker login -u "$DOCKER_HUB_USER" --password-stdin
  script:
    - DOCKER_BUILDKIT=1 docker build --build-arg="CELERY_USER_ID=$INOWAS_USER_ID" --build-arg="CELERY_GROUP_ID=$INOWAS_GROUP_ID" --target celery_worker --tag $MORPHEUS_BACKEND_TASK_QUEUE_WORKER_IMAGE:$CI_COMMIT_SHA --tag $MORPHEUS_BACKEND_TASK_QUEUE_WORKER_IMAGE:dev --file src/backend/docker/celery.Dockerfile .
    - docker push $MORPHEUS_BACKEND_TASK_QUEUE_WORKER_IMAGE:$CI_COMMIT_SHA
    - docker push $MORPHEUS_BACKEND_TASK_QUEUE_WORKER_IMAGE:dev
  only:
    changes:
      - src/infrastructure/production/**/*.*
      - src/backend/docker/**/*.*
      - src/backend/src/**/*.*
      - src/backend/pyproject.toml
      - src/backend/uv.lock
    refs:
      - main
      - tags

publish-morpheus-backend-api:prod:
  stage: publish
  before_script:
    - docker info
    - echo "$DOCKER_HUB_TOKEN" | docker login -u "$DOCKER_HUB_USER" --password-stdin
  script:
    - DOCKER_BUILDKIT=1 docker build --build-arg="FLASK_USER_ID=$INOWAS_USER_ID" --build-arg="FLASK_GROUP_ID=$INOWAS_GROUP_ID" --target flask_app --tag $MORPHEUS_BACKEND_API_IMAGE:$CI_COMMIT_SHA --tag $MORPHEUS_BACKEND_API_IMAGE:$CI_COMMIT_TAG --tag $MORPHEUS_BACKEND_API_IMAGE:latest --file src/backend/docker/flask.Dockerfile .
    - docker push $MORPHEUS_BACKEND_API_IMAGE:$CI_COMMIT_SHA
    - docker push $MORPHEUS_BACKEND_API_IMAGE:$CI_COMMIT_TAG
    - docker push $MORPHEUS_BACKEND_API_IMAGE:latest
  only:
    changes:
      - src/infrastructure/production/**/*.*
      - src/backend/docker/**/*.*
      - src/backend/src/**/*.*
      - src/backend/pyproject.toml
      - src/backend/uv.lock
    refs:
      - tags

publish-morpheus-backend-task-queue-worker:prod:
  stage: publish
  before_script:
    - docker info
    - echo "$DOCKER_HUB_TOKEN" | docker login -u "$DOCKER_HUB_USER" --password-stdin
  script:
    - DOCKER_BUILDKIT=1 docker build --build-arg="CELERY_USER_ID=$INOWAS_USER_ID" --build-arg="CELERY_GROUP_ID=$INOWAS_GROUP_ID" --target celery_worker --tag $MORPHEUS_BACKEND_TASK_QUEUE_WORKER_IMAGE:$CI_COMMIT_SHA --tag $MORPHEUS_BACKEND_TASK_QUEUE_WORKER_IMAGE:$CI_COMMIT_TAG --tag $MORPHEUS_BACKEND_TASK_QUEUE_WORKER_IMAGE:latest --file src/backend/docker/celery.Dockerfile .
    - docker push $MORPHEUS_BACKEND_TASK_QUEUE_WORKER_IMAGE:$CI_COMMIT_SHA
    - docker push $MORPHEUS_BACKEND_TASK_QUEUE_WORKER_IMAGE:$CI_COMMIT_TAG
    - docker push $MORPHEUS_BACKEND_TASK_QUEUE_WORKER_IMAGE:latest
  only:
    changes:
      - src/infrastructure/production/**/*.*
      - src/backend/docker/**/*.*
      - src/backend/src/**/*.*
      - src/backend/pyproject.toml
      - src/backend/uv.lock
    refs:
      - tags
