@import "common/components/site.variables";

.tabs {
  padding: 30px 0;

  [class*="tab"] {
    display: flex !important;
    background: transparent;
    border: 0 !important;
    padding: 0;
    min-height: 368px;
  }
}
