COMPOSE_PROJECT_NAME=mfviz_production
DOMAIN=morpheus.inowas.hydro.tu-dresden.de
HOST=mfviz.${DOMAIN}
VERSION=latest

# Certificate resolver
# possible values:
# - letsencrypt: use Let's Encrypt to generate certificates
# - tud-resolver: use the resolver provided by TU-Dresden
TRAEFIK_CERT_RESOLVER=letsencrypt
TRAEFIK_NETWORK=traefik
