@import 'components/site.variables';

.dotsPopup {
  background: red;

  [class="content"] {
    display: flex;
    flex-direction: column;
  }
}


.dotsActionButton {

}

.dotsMenuButton {
  width: 28px !important;
  height: 21px !important;
  padding: 0 !important;
  background: transparent !important;
  border-radius: 3px !important;
  margin-left: auto !important;

  &:hover,
  &:focus {
    background: @ref-color-lightBlue !important;

  }

}
