variables:
  KEYCLOAK_IMAGE: inowas/keycloak

publish-keycloak:prod:
  stage: publish
  before_script:
    - docker info
    - echo "$DOCKER_HUB_TOKEN" | docker login -u "$DOCKER_HUB_USER" --password-stdin
  script:
    - KEYCLOAK_VERSION=$(cat src/keycloak/.version | tr -d "[:space:]")
    - echo "Using Keycloak version $KEYCLOAK_VERSION"
    - DOCKER_BUILDKIT=1 docker build --build-arg="KEYCLOAK_VERSION=$KEYCLOAK_VERSION" --target production --tag $KEYCLOAK_IMAGE:$KEYCLOAK_VERSION --file src/keycloak/Dockerfile .
    - docker push $KEYCLOAK_IMAGE:$KEYCLOAK_VERSION
  only:
    changes:
      - src/infrastructure/production/keycloak/**/*
      - src/keycloak/**/*
    refs:
      - main
      - tags
