@import "site.variables";

body {
  color: #4c4c4c;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

}

// helpers
.borderBottom {
  border-bottom: 1px solid @ref-color-underline;
  padding-bottom: 14px !important;
}

.gepReset {
  gap: 0 !important;
}
