@import '../../site.variables';

.dataRow {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 16px;

  label {
    width: 100%;
    display: block;
  }

  input,
  textarea {
    width: 100%;
    display: block;
  }
}
